{% extends 'base.html.twig' %}
{% trans_default_domain 'contact' %}

{% block time %}
<div style="width: 10%"></div>
{% endblock time %}

{% block body %}

<div class="soustitre positionTitre">
  <h2>{{ 'titreForm' | trans}}</h2>
</div>

<div class="container styleForm">

  {% form_theme form 'bootstrap_4_layout.html.twig'%}
    {{ form_start (form)}}

     <div class="row justify-content-around">
      {{ form_row (form.nom) }}
      {{ form_row (form.prenom) }}
      {{ form_row (form.entreprise) }}
     </div>
      {{ form_row (form.email) }}
      {{ form_row (form.listeDeroulante) }}
      {{ form_row (form.message) }}

  <button class="btn btn-primary" type="submit">{{'form.bouton' |trans}}</button>
      {{ form_end(form) }}
      
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
